<div>
  <div id="container">
    <div id="header" class="mt-3">
      <span>Το καλάθι σου</span>
      <input (click)="CloseCartModal()" class="exitBtn" type="submit" value="X">
    </div>

    <div id="content">
      <div class="row">
        <div class="col-sm-8">

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="align-middle tBodyCart">
              <div *ngIf="isEmpty" class="pt-3 px-3">Το καλάθι σου είναι άδειο!</div>
              <tr *ngFor="let product of productsInCart; index as i;">
                <td> <img class="productImg" (click)="ProductDetails(product[0])"
                    (error)="this.product[0].PhotoUrl= emptyImageUrl"
                    [src]="product[0].PhotoUrl!=null ? product[0].PhotoUrl : emptyImageUrl"></td>
                <td (click)="ProductDetails(product[0])" class="productName">{{product[0].Name}}</td>
                <td>{{product.length}}</td>
                <td>
                  <button (click)="IncreaseProductQuantInCart(i,product[i])" class="btn plusBtn mx-1">+</button>
                  <button (click)="DecreaseProductQuantInCart(i,product[i])" class="btn minusBtn">-</button>
                </td>
                <td>
                  <button (click)="RemoveProduct(i,product[0],product)" class="btn btn-sm btn-danger">
                    <div class="bi bi-trash"></div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <div>
            <app-paypal-form></app-paypal-form>
          </div>
          <div class="mt-4">
            <app-paypal-buttons *ngIf="cartService.payPalBtnVisible" [cartProducts]="productsInCart">
            </app-paypal-buttons>
          </div>
        </div>
      </div>
    </div>
    <div id="actions">

    </div>
  </div>
</div>