<div class="customerName">
    <h3>{{selectedCustomer.FullName}}</h3>
</div>

<div class="row justify-content-start mx-2" style="padding-top:10px;">
    <div class="col photoBox">
        <img class="customerImg"
            [src]="selectedCustomer.PhotoUrl!=null ? halfPath + selectedCustomer.PhotoUrl : emptyImageUrl" />
    </div>
    <div class="col" style="padding-top:10px;">
        <div class="row justify-content-center labelFormulaDetails" style="padding-top:10px;">
            
        </div>
        <div class="row justify-content-center" style="padding-top:10px;">
            <p class="text-black-50">
                
                <br />
                Number: {{selectedCustomer.PhoneNumber}}
                <br />
                Email: {{selectedCustomer.Email}}
                <br />
                <label class="labelFormulaDetails">Formula Details</label>
                <br />
                
                
                <br />
                <!-- <button>Check Formula</button> -->
            </p>
        </div>
    </div>
</div>