<div class="row justify-content-center mx-3" style="padding-top:10px;">
  <h3>Customer Name</h3>
</div>
<div class="row justify-content-start mx-2" style="padding-top:10px;">
  <div class="col" style="padding-top:10px;">
      <img  alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px; border-radius: 20px ;"
          [src]="" />
  </div>
  <div class="col" style="padding-top:10px;">
      <div class="row justify-content-center" style="padding-top:10px;">
          <label>Formula Details</label>
      </div>
      <div class="row justify-content-center" style="padding-top:10px;">
          <p class="text-black-50">
              Formula
              <br />
              Creation Date
              <br />
              Duration
              <br />
              Cost
              <br />
              <button>Check Formula</button>
          </p>
      </div>
  </div>
</div>