<div  class="container body-content">
  <div class="container">
      <br>
      <div class="row justify-content-center" style="padding-top:10px;">
      </div>
      <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col" style="padding-top:10px;">
              <div class="row justify-content-end" style="padding-top:10px;">
                  <label>Make your own Formula</label>
              </div>
              <div class="row justify-content-end" style="padding-top:10px;">
                  <label>Keep your inventoty up to date</label>
              </div>
              <div class="row justify-content-center" style="padding-top:10px;">
                  <p class="text-black-50">
                      You can organize your formulas for each of your client, each of them
                      <br />
                      has his own account and u wont waste any time to find the formulas 
                      <br />
                      u already used. 
                  </p>
              </div>
          </div>
          <div class="col" style="padding-top:10px;">
              <div class="row justify-content-center" style="padding-top:10px;">
                  <h1>Manage your store Hairdyes</h1>
              </div>
              <img (click)="GoToHairDyePage('HairDye')" alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px; border-radius: 20px;"
                  [src]="hairDyeImage" />
          </div>
      </div>
      <div class="row justify-content-center" style="padding-top:10px;">
      </div>
      <div class="row justify-content-center" style="padding-top:10px;">
          <h1>Manage your own Marketplace</h1>
      </div>
      <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col" style="padding-top:10px;">
              <img (click)="GoToHairProductsPage('Marketplace')" alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px; border-radius: 20px ;"
                  [src]="hairProducts" />
          </div>
          <div class="col" style="padding-top:10px;">
              <div class="row justify-content-center" style="padding-top:10px;">
                  <label>Sell your products</label>
              </div>
              <div class="row justify-content-center" style="padding-top:10px;">
                  <p class="text-black-50">
                      Your customers can order your products easily through this application,
                      <br />
                      no need for them to come in person.
                      <br />
                      With this application you can maximaze your salings and people from 
                      <br />
                      all around the world would have access to your products....
                  </p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center" style="padding-top:10px;">
      </div>
      <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col" style="padding-top:10px;">
              <div class="row justify-content-end" style="padding-top:10px;">
                  <label>Through Calendar</label>
              </div>
              <div class="row justify-content-end" style="padding-top:10px;">
                  <label>Or use live chat to arrange it</label>
              </div>
              <div class="row justify-content-center" style="padding-top:10px;">
                  <p class="text-black-50">
                      Make your appointments with your customers easier and faster.
                      <br />
                      With this application your customer can easily make his appointment
                      <br />
                      through calendar and has his appointment details in his email.
                  </p>
              </div>
          </div>
          <div class="col" style="padding-top:10px;">
              <div class="row justify-content-center" style="padding-top:10px;">
                  <h1>Customers can make their own Apppointments </h1>
              </div>
              <img (click)="GoToHairAppointmentPage('Apppointments')" alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px; border-radius: 20px"
                  [src]="appointment" />
          </div>
      </div>
      <div class="row justify-content-center" style="padding-top:10px;">
          <p class="text-black-50">
              If your customer needs more information he can easily find you
              <br />
              with your chat application. No more phone ringing all the time
              <br />
              and more time for you and your employees to work...
          </p>
      </div>
  </div>
</div>