<div >
    <div id="container">
      <div id="header">
        Add new Warehouse Product
      </div>
      <div id="content">
        <!-- <div class="input-group mb-3">
          <app-upload-photo></app-upload-photo>
        </div> -->
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Brand</span>
          <input type="text" class="form-control" #warehouseProductBrand />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth" id="basic-addon1">ColorCode</span>
          <input type="text" class="form-control"  #warehouseProductColorCode>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Tube Quantity (g)</span>
          <input type="number" class="form-control" #warehouseProductTubeQuantity />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Total Quantity (g)</span>
          <input type="number" class="form-control" #warehouseProductTotalQuantity />
        </div>
      </div>
      <div id="actions">
        <button class="btn myBtn"
          (click)="CreateWarehouseProductHandler(warehouseProductBrand.value, warehouseProductColorCode.value, warehouseProductTubeQuantity.valueAsNumber, warehouseProductTotalQuantity.valueAsNumber)">
          Create</button>
        <button class="btn exitBtn" (click)="toggleWarehouseProductModalsService.createWarehouseProductModalIsVisible = false">Exit</button>
      </div>
    </div>
  </div>
