<div>
  <div class="container">
    <!-- //////////////////stage 1////////////////////////// -->
    <div *ngIf="showStage1Main">
      <div class="headerAndPages">
        <div class="header">
          Add new Formula
        </div>
        <div class="mt-2">
          <button (click)="ShowActivePage1()" class="btn">1</button><button (click)="ShowActivePage2()"
            class="btn mx-2">2</button><button class="btn" (click)="ShowActivePage3()">3</button>
        </div>
      </div>
      <div class="content">
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Name</span>
          <input type="text" class="form-control" [(ngModel)]="formulaName" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">ServiceType</span>
          <input type="text" class="form-control" [(ngModel)]="formulaServiceType" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Duration</span>
          <input type="number" class="form-control" [(ngModel)]="formulaDuration" />
        </div>
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Cost</span>
          <input type="number" class="form-control" [(ngModel)]="formulaCost" />
        </div>
      </div>
      <div class="actions">
        <button class="btn myBtn" (click)="CreateFormulaStage1Form()">
          Next</button>
        <button class="btn exitBtn" (click)="createFormulaService.showCreateFormulaForm = false">Exit</button>
      </div>
    </div>
  </div>

  <!-- //////////////////stage 2////////////////////////// -->
  <div *ngIf="showStage2Products" class="container">
    <div class="headerAndPages">
      <div class="header">
        Add new Formula
      </div>
      <div class="mt-2">
        <button (click)="ShowActivePage1()" class="btn">1</button><button (click)="ShowActivePage2()"
          class="btn mx-2">2</button><button class="btn" (click)="ShowActivePage3()">3</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Product 1</span>
          <select class="form-select" [(ngModel)]="selectedWarehouseProducts[0]">
            <option value=""></option>
            <option *ngFor="let warehouseProduct of warehouseProducts">
              {{warehouseProduct.Brand}} -- {{warehouseProduct.ColorCode}} <span hidden>--{{warehouseProduct.Id}}</span></option>
          </select>
        </div>
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Product 2</span>
          <select class="form-select" [(ngModel)]="selectedWarehouseProducts[1]">
            <option value=""></option>
            <option *ngFor="let warehouseProduct of warehouseProducts" >
              {{warehouseProduct.Brand}} -- {{warehouseProduct.ColorCode}}<span hidden>--{{warehouseProduct.Id}}</span></option>
          </select>
        </div>
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Product 3</span>
          <select class="form-select" [(ngModel)]="selectedWarehouseProducts[2]">
            <option value=""></option>
            <option *ngFor="let warehouseProduct of warehouseProducts" >
              {{warehouseProduct.Brand}} -- {{warehouseProduct.ColorCode}}<span hidden>--{{warehouseProduct.Id}}</span></option>
          </select>
        </div>
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Product 4</span>
          <select class="form-select" [(ngModel)]="selectedWarehouseProducts[3]">
            <option value=""></option>
            <option *ngFor="let warehouseProduct of warehouseProducts">
              {{warehouseProduct.Brand}} -- {{warehouseProduct.ColorCode}}<span hidden>--{{warehouseProduct.Id}}</span></option>
          </select>
        </div>
        <div class="input-group  mb-3">
          <span class="input-group-text mySpanWidth">Product 5</span>
          <select class="form-select" [(ngModel)]="selectedWarehouseProducts[4]">
            <option value=""></option>
            <option *ngFor="let warehouseProduct of warehouseProducts">
              {{warehouseProduct.Brand}} -- {{warehouseProduct.ColorCode}}<span hidden>--{{warehouseProduct.Id}}</span></option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Quantity 1</span>
          <input type="number" class="form-control" [(ngModel)]="selectedWarehouseProductsQuantities[0]">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Quantity 2</span>
          <input type="number" class="form-control"[(ngModel)]="selectedWarehouseProductsQuantities[1]">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Quantity 3</span>
          <input type="number" class="form-control"[(ngModel)]="selectedWarehouseProductsQuantities[2]">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Quantity 4</span>
          <input type="number" class="form-control"[(ngModel)]="selectedWarehouseProductsQuantities[3]">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text mySpanWidth">Quantity 5</span>
          <input type="number" class="form-control"[(ngModel)]="selectedWarehouseProductsQuantities[4]">
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="btn myBtn" (click)="CreateFormulaStage2Products()">
        Next</button>
      <button class="btn exitBtn" (click)="createFormulaService.showCreateFormulaForm = false">Exit</button>
    </div>
  </div>

  <!-- //////////////////stage 3////////////////////////// -->
  <div *ngIf="showStage3Photo" class="container">
    <div class="headerAndPages">
      <div class="header">
        Add new Formula
      </div>
      <div class="mt-2">
        <button (click)="ShowActivePage1()" class="btn">1</button><button (click)="ShowActivePage2()"
          class="btn mx-2">2</button><button class="btn" (click)="ShowActivePage3()">3</button>
      </div>
    </div>
    <div class="input-group mb-3">
      <img [src]="emptyImageUrl" style="width:150px;height:150px">
      <input type="file" (change)="OnFileSelected($event)" (change)="handleFileInput($any($event.target).files)">
      <div>
        <input type="button" class="btn myBtn" value="Upload" (click)="UploadPhotoHandler()">
      </div>
    </div>
    <div class="actions">
      <button class="btn myBtn" (click)="CreateFormulaHandler()">Create Formula</button>
      <button class="btn exitBtn" (click)="createFormulaService.showCreateFormulaForm = false">Exit</button>
    </div>
  </div>
</div>