<app-loadingSpinner *ngIf="loadingSpinner"></app-loadingSpinner>
<div class="container">
  <div>
    <button class="btn createFormulaBtn mb-3" (click)="createProductService.showCreateProductForm = true">Create</button>
  </div>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Code</th>
        <th>UsedQuantity</th>
        <th>TubeQuantity</th>
        <th>Exp Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="myTableHover" *ngFor="let product of products">
        <td class="align-middle">{{product.ID}}</td>
        <td class="align-middle">{{product.Brand}}</td>
        <td class="align-middle">{{product.ColorCode}}</td>
        <td class="align-middle">{{product.UsedQuantity}}</td>
        <td class="align-middle">{{product.TubeQuantity}}</td>
        <td class="align-middle">{{product.ExpDate | date:'d-M-yyyy'}}</td>
        <td>
          <div class="align-middle">
            <button class="btn btn-sm bi bi-pen mx-2" (click)="UpdateProdcutHandler(product)"></button>
            <button class="btn btn-sm bi bi-trash" (click)="DeleteProductHandler(product.ID)"></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-create-product *ngIf="createProductService.showCreateProductForm"></app-create-product>
<app-update-product *ngIf="updateProductService.showUpdateProductForm" [onUpdateProduct]="selectedProduct"></app-update-product>