<div id="container">
  <div id="header">
      Add your Brand
  </div>
  <div id="content">
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div>
          <label>Duration</label>
          <input type="text"/>
        </div>
  </div>
  
  <div id="actions">
      <button (click)="createCustomerService.showCreateCustomerForm = false" class="btn btn-danger">Exit</button>
      <button class="btn btn-info">Save Changes</button>
  </div>
</div>


