

<div class="container">
  <button class="btn btn-primary mb-3 mx-5" (click)="createCustomerService.showCreateCustomerForm = true">Create</button>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Formulas</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>.!.</td>
        <td>{{customer.FullName}}</td>
        <td>{{customer.PhoneNumber}}</td>
        <td>{{customer.Email}}</td>
        <td>{{customer.FormulaIds | json}}</td>
        <td>
          <button (click)="DetailsView()" class="btn btn-info">View</button>
          <button (click)="DetailsView()" class="btn btn-primary mx-2">Edit</button>
          <button (click)="DeleteCustomerHandler(customer.Id)" class="btn btn-danger">Delete</button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>


<app-create-customer *ngIf="createCustomerService.showCreateCustomerForm"></app-create-customer>