<div class="form">
  <h4>Συμπληρώστε τα στοιχεία σας:</h4>
  <form>
    <label for="fName" class="form-group">First Name:</label>
    <input type="text" id="fName" class="form-control" placeholder="Enter your first Name" #fName />
    <label for="lName" class="form-group mt-2">Last Name:</label>
    <input type="text" id="lName" class="form-control" placeholder="Enter your last Name" #lName/>
    <label for="email" class="form-group mt-2">Email:</label>
    <input type="text" id="email" class="form-control" placeholder="Enter your email" #email/>
    <label for="myAddress" class="form-group mt-2">Address:</label>
    <input type="text" id="myAddress" class="form-control" placeholder="Enter your Address" #address/>
    <input type="submit" value="Συνέχεια και πληρωμή με PayPal" class="btn paypalBtn mt-2"
    (click)="OnSumbitForm(fName.value,lName.value,email.value,address.value)"/>
  </form>
</div>
<div class="totalCartPrice">{{shopService.totalCartCost}}&euro;</div>