<div>
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-sm-3">
        <input list="myList" (input)="FilterByCategory()" [(ngModel)]="searchCategory" class="form-control" type="text"
          placeholder="Search Category" />
        <datalist id="myList">
          <option *ngFor="let item of distinctCategories">{{item}}</option>
        </datalist>
      </div>
      <div *ngIf="searchCategory" class="form-group col-sm-1 ">
        <input (click)="ShowClearBtn()" type="button" class="form-control XButton" value="X" />
      </div>
    </div>
    <div>
        <button class="btn sortPriceBtn" (click)="SortingProductsByPrice()">{{sortPrice ? "Sort By Price &#8593;" : "Sort By Price &#8595;"}}</button>
    </div>
  </div>

  <div class="myBox">
    <div class="myContainer">
      <div class="card" *ngFor="let product of filteredShopProducts | paginate : 
      {
         itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
      }; let i = index">
        <img class="productImg" (error)="this.product.PhotoUrl= emptyImageUrl"
          [src]="product.PhotoUrl!=null ? product.PhotoUrl : emptyImageUrl">
        <h5 class="form-text mt-4">{{product.Category}}</h5>
        <div class="form-text productName"><span> {{product.Name}}</span></div>
        <div class="priceDiv">
          <button class="btn infoBtn btn-sm mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
              class="bi bi-info-circle myCart" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
          </button>
          <button class="btn cartBtn btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart myCart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </button>
          <span class="productPrice mx-4"> {{product.Price}}&euro;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="text-end col-11">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    <div class="text-end col-sm-1">
      <select class="form-select form-select-sm text-start" (click)="onTableSizeChange($event)">
        <option *ngFor="let count of tableSizes">{{count}}</option>
      </select>
    </div>
  </div>