<div (mousedown)="HideModal()">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-sm-3">
        <input list="myList" (input)="FilterByCategory()" [(ngModel)]="searchCategory" class="form-control" type="text"
          placeholder="Search Category" />
        <datalist id="myList">
          <option *ngFor="let item of distinctCategories">{{item}}</option>
        </datalist>
      </div>
      <div *ngIf="searchCategory" class="form-group col-sm-1 ">
        <input (click)="ShowClearBtn()" type="button" class="form-control XButton" value="X" />
      </div>
    </div>
    <div class="sortAndCartBtns">
      <div class="">
        <button class="btn sortPriceBtn" (click)="SortingProductsByPrice()">{{sortPrice ? "Sort By Price &#8593;" :
          "Sort By Price &#8595;"}}</button>
      </div>
      <div>
        <button (click)="ShowCart()" class="btn cartBtn btn-sm">
          <div  class="bi bi-cart myCart" ></div>
        </button>
        <input class="cartNumber" value="{{cartProducts.length}}"/>
      </div>
    </div>
  </div>
  <app-loadingSpinner *ngIf="loadingSpinner"></app-loadingSpinner>
  <div class="myBox">
    <div class="myContainer">
      <div class="card" *ngFor="let product of filteredShopProducts | paginate : 
      {
         itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
      };">
        <img class="productImg" (click)="ShowProductDetails(product)" (error)="this.product.PhotoUrl= emptyImageUrl"
          [src]="product.PhotoUrl!=null ? product.PhotoUrl : emptyImageUrl">
        <h5 class="form-text mt-4">{{product.Category}}</h5>
        <div class="form-text productName"><span> {{product.Name}}</span></div>
        <div *ngIf="product.Quantity > 0" class="form-text mt-3 available">Διαθέσιμο</div>
        <div *ngIf="product.Quantity == 0" class="form-text mt-3 unavailable">Μη Διαθέσιμο</div>
        <div class="priceDiv">
          <button (click)="ShowProductDetails(product)" class="btn infoBtn btn-sm mx-2">
            <div  class="bi bi-info-circle myCart"></div>
          </button>
          <button (click)="AddToCart(product)" [disabled]="product.Quantity == 0" class="btn cartBtn btn-sm">
            <div class="bi bi-cart-plus myCart"></div>
          </button>
          <span class="productPrice mx-4"> {{product.Price}}&euro;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="text-end col-11">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    <div class="text-end col-sm-1">
      <select class="form-select form-select-sm text-start" (click)="onTableSizeChange($event)">
        <option *ngFor="let count of tableSizes">{{count}}</option>
      </select>
    </div>
  </div>

  <app-cart *ngIf="showCartModal" [productsInCart]="cartProducts"></app-cart>
  <app-shop-product-details *ngIf="showProductDetailsModal" [productDetails]="selectedDetailsProduct" ></app-shop-product-details>
  <app-mini-cart-view *ngIf="showMiniCartView" [productsInCart]="cartProducts"></app-mini-cart-view>
  

