/* Container Box */
.myBox{
 display: flex;
 align-items: center;
 justify-content: center;

}

.myContainer{
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

/* Card Templates */
.card{
  width: 400px;
  height: 500px;
  margin: 20px;
  box-shadow: 0 1px 11px rgba(0,0,0,0.35), 0 0 50px rgba(0,0,0,0.05) inset;
  align-items: center;
}

.productImg:hover{
  width: 243px;
 height: 243px;
 transition: 150ms;
}


/* Card Values */
.productImg{
  margin-top: 20px;
 width: 250px;
 height: 250px;
}

.productName{
  font-weight: bold;
  text-align: center;
}

.priceDiv{
 margin-top: 20px;
}

.productPrice{
 font-weight: bold;
 color: #f15a22;
}
/* ===============  Buttons ============== */
/* Cart Button */
.cartNumber{
  position: relative;
  border-radius: 100px;
  border: solid 1px;
  height: 23px;
  width: 23px;
  text-align: center;
  bottom: 19px;
  font-size: 15px;
  background-color: rgb(174, 174, 174);
  color: #fff;
}

.cartBtn{
  color:  #f15a22;
  border: solid 1px;
  width: 55px;
}

.cartBtn:hover{
  color: #fff;
  background-color: #f15a22!important;
}

.myCart{
 font-size: 22px;
 margin-bottom: 4px;
}

/* Info Button */
.infoBtn{
  color: darkgreen;
  border: solid 1px;
  width: 55px;
}

.infoBtn:hover{
  color: #fff;
  background-color: darkgreen;
}

/* Search By Category Clear Button */
.XButton{
  border: solid 1px;
}

.XButton:hover{
  background-color:#f15a22;
  color: #fff;
  transition: 0.1s;
}

/* Sort price Button */
.sortPriceBtn{
  border: solid 1px rgb(205, 205, 205);
  background-color: #fff;
  color: rgb(105, 105, 105);
}

.sortPriceBtn:hover{
  background-color: rgb(243, 243, 243);
}

.sortAndCartBtns{
  display: flex;
  justify-content: space-between;
}


/* Available and Unavailable Msgs */
.available{
  color: darkgreen;
}

.unavailable{
  color: #f15a22;
}


  



