<nav class="navbar navbar-expand-lg myNav shadow p-2 mb-5 ">
  <div class="container">
    <a class="navbar-brand "><img style="height: 50px;" src="../../assets/logo2.png" alt="Logo" /></a>
    <button class="navbar-toggler" 
    type="button" 
    (click)="toggleCollapse()"
    data-bs-toggle="collapse" 
    data-bs-target="#navbarResponsive"
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [class.collapse]="isCollapsed">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item"><a class="nav-link myItem" routerLink="/Home-Page">Home</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="/Orders">Orders</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="/Customers">Customers</a></li>
        <!-- <li class="nav-item"><a class="nav-link myItem" routerLink="/Product">Products</a></li> -->
        <li class="nav-item"><a class="nav-link myItem" routerLink="/Formula">Formulas</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="/ShopProduct">Shop</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="/AboutUs">About Us</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="/WarehouseProduct">Admin Area</a></li>
        <li class="nav-item"><a class="nav-link myItem ms-lg-5" routerLink="">Register</a></li>
        <li class="nav-item"><a class="nav-link myItem" routerLink="">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet class="myContainerRouter"></router-outlet>
