<div class="headerTitle mb-2">
  <h3>Beauty Affects Mind</h3>
</div>
<ngb-carousel class="mt-5" *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper myCarousel">
      <img [src]="firstImg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3><a >Welcome</a></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper myCarousel">
      <img [src]="secondImg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Select your Color</h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper myCarousel">
      <img [src]="thirdImg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Enjoy your new look</h3>
      <p></p>
    </div>
  </ng-template>
</ngb-carousel>