<div class="container">
  <button class="btn btn-primary mb-3 mx-4" (click)="createFormulaService.showCreateFormulaForm = true">Create</button>
</div>
<div *ngIf="formulas && formulas.length" class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Photo</th>
        <th>ID</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Cost</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formula of formulas">
        <td>.!.</td>
        <td>{{formula?.ColorFormulaID}}</td>
        <td>{{formula?.CreationDate | date:'d-M-yyyy'}}</td>
        <td>{{formula?.Duration}}m</td>
        <td>{{formula?.Cost}}&euro;</td>
        <td>{{formula?.ServiceType}}</td>
        <td>
          <button class="btn btn-sm btn-success mx-2">Add to Customer</button>
          <button (click)="UpadateFormulaHandler(formula)" class="btn btn-sm btn-primary mx-2">Edit</button>
          <button (click)="DeleteFormulaHandler(formula.ColorFormulaID)" class="btn btn-sm btn-danger">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<app-create-formula *ngIf="createFormulaService.showCreateFormulaForm"></app-create-formula>
<app-update-formula *ngIf="updateFormulaService.showUpdateForm" [onUpdateFormula]="selectedFormula"></app-update-formula>