<div class="container">
  <button class="btn btn-primary mb-3 mx-4" (click)="createFormulaService.showCreateFormulaForm = true">Create</button>
</div>
<div *ngIf="formulas && formulas.length" class="container">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Photo</th>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Cost</th>
        <th>Type</th>
        <th>Products</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formula of formulas" >
        <td class="align-middle" ><img [src]="formula.FormulasPhotosUrl" style="width:150px;height:150px"></td>
        <td class="align-middle">{{formula?.ColorFormulaID}}</td>
        <td class="align-middle">{{formula?.FormulaName}}</td>
        <td class="align-middle">{{formula?.CreationDate | date:'d-M-yyyy'}}</td>
        <td class="align-middle">{{formula?.Duration}}min</td>
        <td class="align-middle">{{formula?.Cost}}&euro;</td>
        <td class="align-middle">{{formula?.ServiceType}}</td>
        <td class="align-middle">
          <select class="form-select ">
            <option class="text-center" *ngFor="let product of formula?.Products">{{product.Brand}}</option>
          </select>
        </td>
        <td class="align-middle">
          <button (click)="UpadateFormulaHandler(formula)" class="btn btn-sm btn-primary mx-2">Edit</button>
          <button (click)="DeleteFormulaHandler(formula.ColorFormulaID)" class="btn btn-sm btn-danger">Delete</button>
          <button class="btn btn-sm btn-success ms-2 mt-1">Add to Customer</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<app-create-formula *ngIf="createFormulaService.showCreateFormulaForm" [formulaProducts]="formulas"></app-create-formula>
<app-update-formula *ngIf="updateFormulaService.showUpdateForm" [onUpdateFormula]="selectedFormula"></app-update-formula>